@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

body {
	background: #8a96aa;
}

.board {
	background: gray;
	height: auto;
	
}

.board h1 {
	text-align: center;
	font-family: 'Sedgwick Ave Display', cursive;
	padding-top: 50px;
	font-size: 52px;
}

.board > .create-column {
	margin: 5px;
	
}




.column {
	float: left;
	text-align: center;
	width: calc(100% / 3);
	border: 1px solid black;
}

.column-title {
	font-family: 'Sedgwick Ave Display', cursive;
	float: center;
	text-shadow: 1px 1px;
	display: inline-block;
}

.column > .btn-delete {
	margin: 5px;
	float: right;
	padding: 5px;
		
}

.column > .add-card {
	margin: 5px;
	float: left;
	padding: 5px;

}

.card {
	background: #09b0e8;
	height: 50%;
	border-radius: 5px;
	margin: 20px;
	border-radius: 5px;
	padding: 2px;

}

.card-description {
	font-family: 'Sedgwick Ave Display', cursive;
}

.card >.btn-delete {
	float: right;
	font-size: 8px;
	padding: 2px;
	
}

