@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

body {
	background: #8a96aa;
}



.board h1 {
	text-align: center;
	font-family: 'Sedgwick Ave Display', cursive;
	padding: 50px;
	font-size: 52px;
	background: gray;
	color: white;
}

.board > .create-column {
	margin: 30px auto;
	display: block;
	
}

.column-container {
	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
}


.column {
	float: left;
	text-align: center;
	-webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.64);
   	-moz-box-shadow:    3px 0px 5px 0px rgba(0, 0, 0, 0.64);
   	box-shadow:         3px 0px 5px 0px rgba(0, 0, 0, 0.64);
   	margin: 10px;
   	background: #4b6287;
   	min-height: 200px;
   	min-width: 300px;

}


.column-title {
	font-family: 'Sedgwick Ave Display', cursive;
	float: center;
	text-shadow: 1px 1px;
	display: inline-block;
}

.column > .btn-delete {
	margin: 5px;
	float: right;
	padding: 5px;
		
}

.column > .add-card {
	margin: 5px;
	float: left;
	padding: 5px;

}

ul {
	min-height: 50px;
	list-style-type: none;

}

.card {
	background: #09b0e8;
	height: 50%;
	border-radius: 5px;
	margin: 20px;
	border-radius: 5px;
	padding: 2px;

}

.card-description {
	font-family: 'Sedgwick Ave Display', cursive;
}

.card >.btn-delete {
	float: right;
	font-size: 8px;
	padding: 2px;
	
}

